$dark-blue: #0B0D21;
$isumrud: #5EEAD4;
$light-blue: #93C5FD;
$white: #FFFFFF;
$placeholder: #A1A5B6;
$scroll-track: #161A42;
$scroll: linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
$text: linear-gradient(90deg, #ACB6E5 0%, #86FDE8 100%);
$rose: linear-gradient(90deg, #EC008C 0%, #FC6767 100%);
$input-background: linear-gradient(162.34deg, #161A42 22.61%, rgba(22, 26, 66, 0) 118.29%);
$hover: #232966;